@charset "utf-8";
body{
    background-color: #d7ccb6;

}
a{
    color: #681414;
}
a:hover {
    text-decoration: none;
}
#contents{
    width: 700px;
    margin: 0px auto ;
    padding: 30px 70px;
    background-color: #fff;
}
#contents1{
    margin: 25px;
    padding: 30px 25px;
    background-color: #fff;
}
footer{
    text-align: center;
}
.round{
    border-radius: 50%;
}
.imgL{
    float: left;
    margin-right: 5px;
}
.imgR{
    float: right;
    margin-left: 5px;
}
.clear{
    clear: both;
}
.h-sub{
    width: 80px ;
    padding: 5px;
    background-color: #fbf9cc;
    color: #ff705b;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px #ffd0ad inset;
}
.center{
    text-align: center;
}
section+section{
    margin-top: 60px;
}
.m{
    margin-top: 30px;
}