@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
/*導覽列樣式設定*/
body,ul{
    margin: 0px;
}

header{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
nav{
    background-color: lightgray;
}
nav ul{
    display: flex;
    justify-content: right;
}
nav li{
    list-style-type: none;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
nav a:hover{
    background-color: lightyellow;
    color: black;
    transition: background-color 1s linear,color 1s ease-in;
}

/*標題列樣式設定*/
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(128, 128, 128,80%);
}

.title{
    text-align: center;
    font-family: 'Macondo', cursive;
}

/*相片清單樣式設定*/
#photolist ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}

#photolist li{
    list-style-type: none;
    margin: 10px;
}

#photolist img{
    border-radius: 10%;
    box-shadow: 5px 5px 10px grey;
}

#photolist .emptyitem{
    width: 200px;
}

.gotop{
    font-size: 60px;
    color: lightgrey;
    position: fixed;
    right: 10px;
    bottom: 10px;
}