body{
    margin: 0px;
}
/*標題列樣式設定*/
header{
    position: sticky;
    position: -webkit-sticky;
    top:0;
}
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(255, 165, 0, 80%)
}
.title{
    color: white;
    text-align: center;
}

/*十景分頁內容介紹樣式*/
.introtxt{
    display: block;
    justify-content: space-around;
    align-items: center;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 30px 50px ;
    text-align: center;
    background-color: antiquewhite;
    border-radius:20px;
}
.text{
    color: black;
}

/*十景分頁圖片設定樣式*/
.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60vh;
  }

.item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 2s ease;
    margin-top: 100px;
  }
.item:hover{
    flex: 7;
}

.item-1 { 
    background-image: url('../大同素材/照片/02探險時光/探險時光遠景照/記錄探險時光的一景，高聳的大樹與設施，給人想要挑戰的欲望。.JPG');
}
.item-2 { 
    background-image: url('../大同素材/照片/02探險時光/百日紅的花語為爭先恐後，如學習獨立與探索經驗都需要學習的積極度，方可快速成長.JPG');
}
.item-3 { 
    background-image: url('../大同素材/照片/02探險時光/探險不止尋覓花朵與體驗合作，角落中遺落的籃球，也是一個彼此互助合作獲勝的運動。.JPG');
}
.item-4 { 
    background-image: url('../大同素材/照片/02探險時光/除了植物外，院內更有著貓咪的身影，孩子們也不可輕易傷害牠，培養出與其他生命共同一齊成長的意識。.JPG');
}
.item-5 { 
    background-image: url('../大同素材/照片/02探險時光/記錄著探險時光的一角，院內公共用車一同帶領大夥，勇闖更遙遠的領地。.JPG');
}


/*footer*/
footer {
    position: absolute;
    width: 1263px;
    height: 50px;
    top: 789px;
    background: #FFA500;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.fa-phone{
    padding-right: 10px;
}

.fa-envelope{
    padding-left: 20px;
    padding-right: 10px;
}
.fa-location-dot{
    padding-left: 20px;
    padding-right: 10px;
}