body {
    margin: 0px;
}

/*標題列樣式設定*/
header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 165, 0, 80%)
}

.title {
    color: white;
    text-align: center;
}

/*十景分頁內容介紹樣式*/
.introtxt {
    display: block;
    justify-content: space-around;
    align-items: center;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 30px 50px;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 20px;
}

.text {
    color: black;
}

/*十景分頁圖片設定樣式*/
.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60vh;
}

.item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 2s ease;
    margin-top: 100px;
}

.item:hover {
    flex: 7;
}

.item-1 {
    background-image: url('../大同素材/照片/09幸福山丘/回顧過去的自己也是探索自我的一環，更刻畫著過去的記憶。.JPG');
}

.item-2 {
    background-image: url('../大同素材/照片/09幸福山丘/每一個即將面對自立的孩子皆如樹般，堅定而強壯、屹立不搖。.JPG');
}

.item-3 {
    background-image: url('../大同素材/照片/09幸福山丘/幸福山丘也飼養著一條生命，這隻大狗也注視著許多少年的成長與自立。.JPG');
}

.item-4 {
    background-image: url('../大同素材/照片/09幸福山丘/幸福山丘遠景照/榕樹有著獨木成林的寓意，代表著孩子於此生長的回憶與堅韌性。.JPG');
}

.item-5 {
    background-image: url('../大同素材/照片');
}


/*footer*/
footer {
    position: absolute;
    width: 1263px;
    height: 50px;
    top: 789px;
    background: #FFA500;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.fa-phone {
    padding-right: 10px;
}

.fa-envelope {
    padding-left: 20px;
    padding-right: 10px;
}

.fa-location-dot {
    padding-left: 20px;
    padding-right: 10px;
}